<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Borrowing & Returning</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>


<body>

<div class="main-content">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Borrowing & Returning</h1>

    <p class="description">
        Pending borrowing requests
    </p>


    <div class="card-container">

        {% for request in requests %}

        <div class="card">

            <h3>{{ request.book }}</h3>

            <p>
                Student:
                {{ request.student }}
            </p>

            <p>
                Status:
                {{ request.status }}
            </p>

            {% if request.status == "Pending" %}

            <form method="POST"
                action="{{ url_for('borrowing.approve_request', request_id=request.id) }}">

                <button class="button" type="submit">
                    Approve
                </button>

            </form>

            {% endif %}

        </div>

        {% endfor %}

    </div>

    <h2>Borrow Transactions</h2>

{% if transactions %}

{% for transaction in transactions %}

<div class="card">

    <h3>{{ transaction.book }}</h3>

    <p>
        Student:
        {{ transaction.student }}
    </p>

    <p>
        Borrow Date:
        {{ transaction.borrow_date }}
    </p>

    <p>
        Due Date:
        {{ transaction.due_date }}
    </p>

    {% if transaction.status == "Borrowed" %}

    <form
        method="POST"
        action="{{ url_for(
            'borrowing.manual_extend',
            transaction_id=transaction.id
        ) }}"
    >

    <label>
        New Due Date:
    </label>

    <input
        type="date"
        name="new_due_date"
        min="{{ transaction.due_date }}"
        required
    >

    <button class="button">
        Extend Due Date
    </button>

    </form>

    {% endif %}

    <p>
        Return Date:
        {% if transaction.return_date %}
            {{ transaction.return_date }}
        {% else %}
            N/A
        {% endif %}
    </p>

    <p>
        Status:
        {{ transaction.status }}
    </p>

    <p>
        Renewal Status:
        {{ transaction.renewal_status }}
    </p>

    {% if transaction.status == "Borrowed" %}

    </form>

    {% endif %}

    <!--Check if the renewal status is "Pending" and display the approve renewa button-->
    {% if transaction.renewal_status == "Pending" %}

    <form
        method="POST"
        action="{{ url_for('borrowing.approve_renewal',
                        transaction_id=transaction.id) }}"
        onsubmit="return confirmApproveRenewal();">

        <button class="button">
            Approve Renewal
        </button>

    </form>

    <form
    method="POST"
    action="{{ url_for(
        'borrowing.reject_renewal',
        transaction_id=transaction.id
    ) }}"
    onsubmit="return confirmRejectRenewal();">

    <button class="button">
        Reject Renewal
    </button>

    </form>

    {% endif %}

    <!--Check if the transaction status is "Return Pending" and display the confirm return button-->
    {% if transaction.status == "Return Pending" %}

<form
    method="POST"
    action="{{ url_for('borrowing.confirm_return',
                       transaction_id=transaction.id) }}">

    <button class="button">
        Confirm Return
    </button>

</form>

{% endif %}

    </div>

    {% endfor %}

    {% else %}

    <p>No active borrowing transactions.</p>

    {% endif %}
</div>

</body>

<script>
function confirmApproveRenewal() {
    return confirm(
        "Are you sure you want to approve this renewal request?"
    );
}

function confirmRejectRenewal() {
    return confirm(
        "Are you sure you want to reject this renewal request?"
    );
}
</script>

</html>