<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Borrowing & Returning</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>


<body>

<div class="main-content">

    <h1>Borrowing & Returning</h1>

    <p class="description">
        Pending borrowing requests
    </p>


    <div class="card-container">

        {% for request in requests %}

        <div class="card">

            <h3>{{ request.book }}</h3>

            <p>
                Student:
                {{ request.student }}
            </p>

            <p>
                Status:
                {{ request.status }}
            </p>

            {% if request.status == "Pending" %}

            <form method="POST"
                action="{{ url_for('borrowing.approve_request', request_id=request.id) }}">

                <button class="button" type="submit">
                    Approve
                </button>

            </form>

            {% endif %}

        </div>

        {% endfor %}

    </div>

    <h2>Borrow Transactions</h2>

{% if transactions %}

{% for transaction in transactions %}

<div class="card">

    <h3>{{ transaction.book }}</h3>

    <p>
        Student:
        {{ transaction.student }}
    </p>

    <p>
        Borrow Date:
        {{ transaction.borrow_date }}
    </p>

    <p>
        Due Date:
        {{ transaction.due_date }}
    </p>

    <p>
        Return Date:
        {% if transaction.return_date %}
            {{ transaction.return_date }}
        {% else %}
            N/A
        {% endif %}
    </p>

    <p>
        Status:
        {{ transaction.status }}
    </p>

    {% if transaction.status == "Return Pending" %}

<form
    method="POST"
    action="{{ url_for('borrowing.confirm_return',
                       transaction_id=transaction.id) }}">

    <button class="button">
        Confirm Return
    </button>

</form>

{% endif %}

    </div>

    {% endfor %}

    {% else %}

    <p>No active borrowing transactions.</p>

    {% endif %}
</div>

</body>

</html>